<div id="footer">
	<a href="http://validator.w3.org/check?uri=referer">
		<img class="w3c_validator" src="img/valid-xhtml10-pink.png" alt="Valid XHTML 1.0 Strict"/>
	</a>
	<a href="http://jigsaw.w3.org/css-validator/check/referer">
		<img class="w3c_validator" src="img/valid-css-pink.png" alt="Valid CSS!" />
	</a>
        <br />
        <a href="mailto:vite-developpeurs at lists.gforge.inria dot fr">Contact us</a>
</div>
