<div id="menu">
	<h2>Navigation</h2>
	<ul>
		<li><a href="index.html">Home</a></li>
		<li><a href="overview.html"><b>Overview</b></a></li>
                <li><a href="traceGeneration.html">Trace generation</a></li>
		<li><a href="screenshots.html">Screenshots</a></li>
                <li><hr /></li>
		<li><a href="documentation.html">Documentation</a></li>
		<li><a href="download.html"><b>Download</b></a></li>
                <li><hr /></li>
		<li><a href="roadmap.html">Roadmap/Changelog</a></li>
		<li><a href="developers.html">Developer Team</a></li>
                <li><hr /></li>
		<li><a href="https://gitlab.inria.fr/solverstack/vite">GitLab Inria</a></li>
	</ul>
</div>
